.order-item{
     display: grid;
     grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
     align-items: start;
     gap: 30px;
     border: 1px solid #6d6d6d;
     padding: 20px;
     margin: 30px 0px;
     font-size: 15px;
     color: #505050;
}

.order-item img{
    width: 80px;
    height: 80px;
}

.order-item-product, .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-item select{
    background-color: rgb(233, 229, 224);
    border: 1px solid #6d6d6d;
    width: max(11vw, 120px);
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
@media (max-width:1000px){
    .order-item{
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        font-size: 12px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
        height: 40px;
    }
}